/bundle
.data/
config/database.yml

tmp/
gems/
.gems/
log/*.log
*.log
*.swp
*.swo
.gems/
.rvmrc

node_modules/
/public/assets/*
public/packs/
public/packs-test
public/system
public/uploads
vendor/cache/
